---
layout: default
---

<div class="break" style="height:200px"> </div>

<img src="{{site.baseurl}}{{page.artPath}}" class="artPageImg">

<div class="break"> </div>

<div class="artPageText" style="font-size:40px">{{page.artTitle}}</div>
<div class="artPageText" style="font-size:35px">{{page.artDesc}}</div>
<div class="artPageText" style="font-size:25px; padding-top:10px">{{page.artYear}}</div>


<div class="artPageNav">
    <button class="artPageInfoButton" title="INFO"><img src="{{site.baseurl}}/assets/ui/speech.png" class="artPageInfoIcon"></button>
    <div class="artPageInfoBox">
        <div class="artPageText" style="font-size:15px; color:#ababab;padding: 10px 10px">{{content}}</div>
    </div>
</div>

<div class="break" style="height:40px"> </div>



<script>
    var coll = document.getElementsByClassName("artPageInfoButton");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
</script>