---
layout: default
---

<div class="break" style="height:200px"> </div>

<img src="{{page.artPath}}" class="artPageImg">

<div class="break"> </div>

<div class="artPageText" style="font-size:40px">{{page.artTitle}}</div>
<div class="artPageText" style="font-size:35px">{{page.artDesc}}</div>
<div class="artPageText" style="font-size:25px; padding-top:10px">{{page.artYear}}</div>


<div class="artPageNav">
<a href="{{page.artTwitter}}">
<!--<img src="/assets/ui/twitter.png" class="artPageNavButton" style="float:left">-->
<img src="/assets/ui/twitter.png" class="artPageNavButton" style="display: block; margin:auto">
</a>

<!--<a href="{{page.artTwitter}}">
<img src="/assets/ui/twitter.png" class="artPageNavButton" style="float:right">
</a>-->
</div>

<div class="break" style="height:40px"> </div>